/* Vidéo de fond */
video#background-video {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    object-fit: cover;
    z-index: -1;
}

/* Conteneur centré */
.book-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
    position: relative;
    overflow: hidden;
}

/* Conteneur interne pour superposer les images */
.card-wrapper {
    display: flex;
    transition: transform 1s ease;
}

/* Images de la carte */
.card-img {
    max-width: 50vw; /* Pour que les deux images fassent ensemble 100vw */
    height: auto;
}

/* Glissement de card-wrapper pour faire apparaître centre_gauche */
.slide-left {
    transform: translateX(-50vw); /* Déplace le conteneur pour afficher centre_gauche */
}
