/* Style pour le loader */
#loader {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: #fddde6;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 100;
}

/* Spinner */
.spinner {
    border: 8px solid #ffffff;
    border-top: 8px solid #000000;
    border-radius: 50%;
    width: 60px;
    height: 60px;
    animation: spin 1s linear infinite;
}

/* Animation de rotation */
@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

video {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    object-fit: cover;
    z-index: -1;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: #fddde6;
}

.card-container {
    position: relative;
    width: 80vw;
    max-width: 800px;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: transform 1s ease;
}

.card-img {
    width: 100%;
    height: auto;
    display: block;
}

#download-button, #answer-button {
    position: fixed;
    width: 150px;
    opacity: 0.7;
    display: none;
    cursor: pointer;
}

#download-button {
    top: 35%;
    left: 50%;
    transform: translate(-50%, -50%);
}

#answer-button {
    top: 65%;
    left: 50%;
    transform: translate(-50%, -50%);
}

#download-button:hover, #answer-button:hover {
    opacity: 1;
}
